<div class="content">
	<div class="section">
		<ng-form name="customerForm">
			<div class="option">
				<div class="pull-left">
					<label>First Name</label>
					<div class="form-control" ng-class="{ 'has-error': customerForm.firstname.$invalid && customerForm.firstname.$dirty }">
						<input type="text" name="firstname" ng-model="customer.name.first" required />
					</div>
				</div>
				<div class="pull-left ml-10">
					<label>Last Name</label>
					<div class="form-control" ng-class="{ 'has-error': customerForm.lastname.$invalid && customerForm.lastname.$dirty }">
						<input type="text" name="lastname" ng-model="customer.name.last" required />
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="buttons">
				<button class="confirm" ng-click="customerSearch()">Search</button>
			</div>
		</ng-form>
		<div class="search-results" ng-show="customer.search">
			<div class="no-results" ng-hide="customers.length">
				<span>No results.</span>
			</div>
			<div class="search-result" ng-repeat="c in customers">
				<a href="" class="select" ng-click="customerSelect($index)">
					<div class="photo">
						<img ng-show="c.photo" ng-src="{{ c.photo }}" />
						<img ng-hide="c.photo" ng-src="assets/img/no_image_available.jpg" />
					</div>
					<div class="info">
						<div class="name">{{ c.firstname }} {{ c.lastname }}</div>
					</div>
				</a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="section" ng-show="customer.search || customer.selected">
		<div class="option" ng-repeat="c in checks">
			<span>{{ c.created }}</span>
		</div>
	</div>
</div>
