<div class="content">
	<div class="section-header">
		<span>Search Issuers</span>
	</div>
	<div class="section">
		<ng-form name="issuersForm">
			<div class="option">
				<div class="pull-left">
					<label>Name</label>
					<button class="clear" ng-click="cleanInput('name')" ng-show="search.name">X</button>
					<div class="form-control" ng-class="{ 'has-error': issuersForm.name.$invalid && issuersForm.name.$dirty }">
						<input type="text" name="name" ng-model="search.name" required />
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="option">
				<div class="pull-left">
					<label>Account Number</label>
					<button class="clear" ng-click="cleanInput('account')" ng-show="search.account">X</button>
					<div class="form-control" ng-class="{ 'has-error': issuersForm.account.$invalid && issuersForm.account.$dirty }">
						<input type="text" name="account" ng-model="search.account" required />
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="buttons">
				<button class="confirm" ng-click="issuersSearch()">Search</button>
			</div>
		</ng-form>
		<div class="search-results" ng-show="search.search">
			<div class="no-results" ng-hide="issuers.length">
				<span>No results.</span>
			</div>
			<div class="search-result" ng-class="{ 'bg-danger': i.danger, 'bg-warn': i.warn }" ng-repeat="i in issuers">
				<a href="" class="select" ng-click="issuerSelect($index)">
					<div class="issuer-result">
						<div class="info">
							<div class="name">{{ i.name }}</div>
							<div class="address">{{ i.address1 }} {{ i.address2 }}</div>
							<div class="city">{{ i.city }}, {{ i.state }} {{ i.zipcode }}</div>
							<div class="notes">Notes: {{ i.comment }}</div>
						</div>
					</div>
				</a>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="section-header" ng-show="issuer.selected">
		<span>Issuer</span>
	</div>
	<div class="section" ng-class="{ 'bg-danger': issuer.danger, 'bg-warn': issuer.warn }"  ng-show="issuer.selected">
		<div class="search-result">
			<div class="issuer-result">
				<button class="edit" ng-click="issuerEdit()">Edit</button>
				<button class="edit" ng-click="reportIssuer(1)">Warn</button>
				<button class="edit" ng-click="reportIssuer(2)">Alert</button>
				<button class="edit" ng-click="reportIssuer(0)">Clear</button>
				<div class="info">
					<div class="name">{{ issuer.name }}</div>
					<div class="address">{{ issuer.address1 }} {{ issuer.address2 }}</div>
					<div class="city">{{ issuer.city }}, {{ issuer.state }} {{ issuer.zipcode }}</div>
					<div class="notes">Notes: {{ issuer.notes }}</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<issuers-info show="issuer.info"></issuers-info>
	<check-list list="checks" show="issuer.selected"></check-list>
</div>
