<div class="content">
	<div class="section-header">
		<span>Reports</span>
	</div>
	<div class="section">
		<div class="no-results" ng-hide="recent.length">
			<span>No results.</span>
		</div>
		<table class="report-recent" ng-show="recent.length">
			<thead>
				<tr>
					<td>Created</td>
					<td>Start</td>
					<td>End</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="r in recent">
					<td>{{ r.created }}</td>
					<td>{{ r.start | date:'MM/dd/yyyy' }}</td>
					<td>{{ r.end | date:'MM/dd/yyyy' }}</td>
					<td><a class="confirm" download="{{ r.rptId }}.zip" ng-href="/reports/{{ r.rptId }}.zip">DOWNLOAD</a></td>
					<td><a class="cancel"  ng-click="delete(r.rptId)">X</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="section-header">
		<span>Create Report</span>
	</div>
	<div class="section">
		<ng-form name="reportForm">
			<div class="option">
				<div class="pull-left">
					<label>Start Date</label>
					<div class="form-control" ng-class="{ 'has-error': reportForm.start.$invalid && reportForm.start.$dirty }">
						<input type="date" name="start" ng-model="report.start" required />
					</div>
				</div>
				<div class="pull-left ml-10">
					<label>End Date</label>
					<div class="form-control" ng-class="{ 'has-error': reportForm.end.$invalid && reportForm.end.$dirty }">
						<input type="date" name="end" ng-model="report.end" required />
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="buttons">
				<button class="confirm" ng-click="generateReport()">Search</button>
				<button class="confirm" ng-show="report.results.length" ng-click="create()">Create Report</button>
			</div>
		</ng-form>
	</div>
	<div class="section-header" ng-show="report.search">
		<span>Checks</span>
	</div>
	<div class="section" ng-show="report.search">
		<div class="no-results" ng-hide="report.results.length">
			<span>No results.</span>
		</div>
		<div class="check-list" ng-show="report.results.length" ng-repeat="c in report.results">
			<div class="item">
				<div class="data">
					<label>Date Scanned</label>
					<div class="value">{{ c.created }}</div>
					<label>Amount</label>
					<div class="value">${{ c.amt }}</div>
					<label>Account</label>
					<div class="value">{{ c.acct }}</div>
					<label>Routing</label>
					<div class="value">{{ c.transit }}</div>
					<label>Check Number</label>
					<div class="value">{{ c.serNum }}</div>
				</div>
				<div class="image">
					<img ng-src="chkimg/{{ c.chkId }}/front.JPG" />
					<img ng-src="chkimg/{{ c.chkId }}/back.JPG" />
				</div>
			</div>
		</div>
	</div>
</div>
