<div class="content">
	<h2>Scan</h2>
	<div class="section">
		<h4>Process Options</h4>
		<select ng-model="ProcessOptions.ReadMICR">
			<option value="E13B">E13B</option>
			<option value="CMC7">CMC7</option>
			<option value="ALL">Auto-detect</option>
			<option value="NO">None</option>
		</select>
		<select ng-model="ProcessOptions.Endorse">
			<option value="BACK">Back</option>
			<option value="FRONT">Front</option>
			<option value="BOTH">Both</option>
			<option value="NO">None</option>
		</select>
		<select ng-model="ProcessOptions.DocFeed">
			<option value="ALL">All</option>
			<option value="MANUAL">Manual</option>
			<option value="ID">ID</option>
			<option value="MSR">MSR</option>
		</select>
		<select ng-model="ProcessOptions.DocFeedTimeout">
			<option value="1000">1</option>
			<option value="5000">5</option>
			<option value="10000">10</option>
		</select>
	</div>
	<div class="section">
		<h4>Image Options</h4>
		<select ng-model="ImageOptions.Num">
			<option value="1">Front</option>
			<option value="2">Front and Back</option>
		</select>
		<select ng-model="ImageOptions.ImageColor">
			<option value="BW">Black and white</option>
			<option value="GRAY8">8-bit grayscale</option>
			<option value="COL24">24-bit color</option>
		</select>
		<select ng-model="ImageOptions.Resolution">
			<option value="100x100">100x100 DPI</option>
			<option value="200x200">200x200 DPI</option>
		</select>
		<select ng-model="ImageOptions.Compression">
			<option value="GROUP4">Image will be compressed using Group4 compression type</option>
			<option value="JPEG">Image will be compressed using JPEG compression type</option>
			<option value="NONE">No compression</option>
		</select>
		<select ng-model="ImageOptions.FileType">
			<option value="TIF">tiff</option>
			<option value="JPG">jpg</option>
			<option value="BMP">bmp</option>
		</select>
	</div>
	<button ng-click="scan()">Scan</button>
</div>
