<div class="section-header" ng-show="show">
  <span>Checks</span>
</div>
<div class="section" ng-show="show">
  <div class="no-results" ng-hide="list.length">
    <span>No results.</span>
  </div>
  <div class="check-list" ng-show="list.length" ng-repeat="i in list">
    <div class="item">
      <div class="data">
        <label>Date Scanned</label>
        <div class="value">{{ i.created }}</div>
        <label>Issuer</label>
        <div class="value">{{ i.issuer }}</div>
        <label>Routing</label>
        <div class="value">{{ i.transit }}</div>
        <label>Account</label>
        <div class="value">{{ i.acct }}</div>
        <label>Check Number</label>
        <div class="value">{{ i.serNum }}</div>
        <label>Amount</label>
        <div class="value">${{ i.amt }}</div>
        <label>Notes</label>
        <div class="value">{{ i.notes }}</div>
      </div>
      <div class="image">
        <img ng-src="chkimg/{{ i.chkId }}/front.JPG" />
        <img ng-src="chkimg/{{ i.chkId }}/back.JPG"  ng-if="options.checkFrontBack" />
      </div>
      <div class="options">
        <a class="confirm download" download="imgs.zip" ng-href="/chkimg/{{ i.chkId }}/imgs.zip"><img src="/assets/icons/111239/download-sketch.svg" /></a>
        <a class="clear pull-right" ng-click="delete(i.chkId, $index)">X</a></td>
      </div>
    </div>
  </div>
</div>
