<div class="section-header" ng-show="show">
  <span ng-show="add">New Customer</span>
  <span ng-show="edit">Edit Customer</span>
</div>
<div class="section" ng-show="show">
  <ng-form name="editForm">
    <table class="new-entry">
      <tr>
        <td>Photo</td>
        <td><input type="file" id="upload-photo" /></td>
        <div ng-show="edit">
          <img ng-show="c.photo" ng-src="{{ c.photo }}" />
          <img ng-hide="c.photo" src="assets/img/no_image_available.jpg" />
        </div>
      </tr>
      <tr ng-class="{ 'has-error': editForm.firstname.$invalid && editForm.firstname.$dirty }">
        <td>First Name</td>
        <td><input type="text" name="firstname" class="form-input" ng-model="c.name.first" required /></td>
      </tr>
      <tr ng-class="{ 'has-error': editForm.lastname.$invalid && editForm.lastname.$dirty }">
        <td>Last Name</td>
        <td><input type="text" name="lastname" class="form-input" ng-model="c.name.last" required /></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><input type="text" name="address1" ng-model="c.address1" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="text" name="address2" ng-model="c.address2" /></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input type="text" name="city" ng-model="c.city" /></td>
      </tr>
      <tr>
        <td>State</td>
        <td>
          <select name="state" ng-model="c.state">
            <option ng-repeat="state in usStates" value="{{ state.abbreviation }}">{{ state.name }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Zipcode</td>
        <td><input type="number" name="zipcode" ng-model="c.zipcode" /></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="number" name="phone" ng-model="c.phone" /></td>
      </tr>
    </table>
  </ng-form>
  <div class="buttons">
    <button class="confirm" ng-click="insert()" ng-show="add">New</button>
    <button class="confirm" ng-click="update()" ng-show="edit">Update</button>
    <button class="cancel" ng-click="cancel()">Cancel</button>
  </div>
</div>
