a:link {
}

a:visited {
}

a:hover {
}

a:active {
}

.active {
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

button.confirm {
	background-color: #8ac007;
	border: none;
	color: #ffffff;
	padding: 20px;
}

button.cancel {
	background-color: #e0e0e0;
	border: none;
	color: #000000;
	padding: 20px;
}

button.options {
	background-color: #e0e0e0;
	border: none;
	color: #000000;
	padding: 20px;
}

.clear {
	clear: both;
}

.content {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 0.5em 2em 0.5em;
	width: 85%;
}

.footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	padding-top: 1em;
	text-align: center;
	width: 100%;
}

.has-error {
	border-color: #a94442 !important;
}

.header {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}

img.check {
	display: block;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.ml-10 {
	margin-left: 10px;
}

.nav {
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}

.nav a {
	display: inline-block;
	height: 100%;
	text-align: center;
}

.nav a:link {
	color: #000;
	text-decoration: none;
}

.nav a:visited {
	color: #000;
	text-decoration: none;
}

.nav a:hover {
	color: #000;
	text-decoration: none;
}

.nav a:active {
	color: #000;
	text-decoration: none;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.section-header {
	background-color: #f8f8f8;
	border: 1px solid #c0c0c0;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 20px;
	padding: 20px;
}

.section {
	border: 1px solid #c0c0c0;
	padding: 20px; 20px 20px 20px;
}

.section .buttons {
	margin: 10px;
}

.section .form-control {
	margin: 10px 0 20px 0;
}

.form-control input {
	line-height: 1.5em;
	font-size: 1.5em;
}

.section .option {
	margin: 10px;
}

.option .value {
	font-size: 1.5em;
	font-weight: bold;
	background-color: #e4edf4;
	border-left: 3px solid #f90;
	padding: 10px 0 10px 10px;
}

.section .no-results {
	font-weight: bold;
}

.section .search-results {
	margin: 20px 0 20px 0;
	padding: 20px 0 0 40px;
	border-top: 3px solid #ccc;
}

.section .search-result {
	margin-bottom: 20px;
}

.search-result .photo {
	float: left;
	margin-right: 10px;
}

.search-result .photo img {
	max-width: 150px;
	max-height: 150px;
}

.search-result .info {
	float: left;
	margin-right: 10px;
}

.info .name {
}

.search-result a.select {
}

.section .title {
	margin-left: 10px;
}

.stripes {
	border-left: 3px solid #f90;
	background: repeating-linear-gradient(
		-45deg,
		#111,
		#111 5px,
		#222 10px,
		#222 20px
	);
}

.sub-section {
	margin-left: 10px;
}

.view {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}
