a:link {
}

a:visited {
}

a:hover {
}

a:active {
}

.active {
}

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 1em;
}

button.confirm {
	background-color: #8ac007;
	border: none;
	color: #ffffff;
	padding: 20px;
}

button.cancel {
	background-color: #e0e0e0;
	border: none;
	color: #000000;
	padding: 20px;
}

button.options {
	background-color: #e0e0e0;
	border: none;
	color: #000000;
	padding: 20px;
}

.clear {
	clear: both;
}

.content {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 0.5em 2em 0.5em;
	width: 85%;
}

.footer {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	padding-top: 1em;
	text-align: center;
	width: 100%;
}

.has-error {
	border-color: #a94442 !important;
}

.header {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}

.nav {
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}

.nav a {
	display: inline-block;
	height: 100%;
	text-align: center;
}

.nav a:link {
	color: #000;
	text-decoration: none;
}

.nav a:visited {
	color: #000;
	text-decoration: none;
}

.nav a:hover {
	color: #000;
	text-decoration: none;
}

.nav a:active {
	color: #000;
	text-decoration: none;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.section {
	background-color: #f8f8f8;
	border: 1px solid #c0c0c0;
	padding: 20px; 20px 20px 20px;
	margin-top: 20px;
}

.section h4 {
	margin: 0 0 10px 0;
}

.section .option {
	margin: 10px;
}

.section .title {
	margin-left: 10px;
}

.sub-section {
	margin-left: 10px;
}

.view {
	margin-left: auto;
	margin-right: auto;
	max-width: 1500px;
	min-width: 820px;
	width: 100%;
}
